:root { 
--gray_800:#454846; 
--green_A700_01:#0ba937; 
--green_900:#027c16; 
--gray_800_01:#4a4848; 
--black_900_3f:#0000003f; 
--green_A700:#0aa836; 
--black_900:#000000; 
--white_A700_01:#fffcfc; 
--white_A700_02:#fefffe; 
--green_900_00:#01641100; 
--cyan_700_00:#00abab00; 
--cyan_800:#0a8596; 
--white_A700:#ffffff; 
}